.btn {
  margin: 8px 4px 0 4px;
  overflow: hidden;
  flex-grow: 1;
  border: 2px solid;
  box-shadow: 0 0 0 1px inset;
  border-radius: 4px;
  padding: 8px 0 0 0;
  cursor: pointer;
  background-color: white;
}
.btn:hover {
  filter: brightness(90%);
}
.btn > i {
  font-size: large;
}
.btn p {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 16px;
  margin-bottom: 0;
}

/* //////////////////// */
[data-id="notification"] {
  color: #00579a;
}
[data-id="notification"] p {
  background-color: #00579a;
}

[data-id="survey"] {
  color: #0668b1;
}
[data-id="survey"] p {
  background-color: #0668b1;
}

[data-id="info"] {
  color: #8a2110;
}
[data-id="info"] p {
  background-color: #8a2110;
}

/* Education and its children */
[data-id="education"] {
  color: #35aeab;
}
[data-id="education"] p {
  background-color: #35aeab;
}
.education-child {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #dbefff;
  opacity: 0;
  border-top: 1px solid white;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  transition: 0.2s ease 0.1s;
}

[data-id="education"]:hover + .education-child,
.education-child:hover {
  border-top: 8px solid white;
  opacity: 1;
  padding: 8px;
  max-height: 200px;
}
[data-id="registration"] {
  color: #967a60;
}
[data-id="registration"] p {
  background-color: #967a60;
}

[data-id="schedule"] {
  color: #823a82;
}
[data-id="schedule"] p {
  background-color: #823a82;
}

[data-id="exam"] {
  color: #3483cc;
}
[data-id="exam"] p {
  background-color: #3483cc;
}

[data-id="map"] {
  color: #118dd0;
}
[data-id="map"] p {
  background-color: #118dd0;
}
/* End - education and its children */

[data-id="tuition"] {
  color: #225615;
}
[data-id="tuition"] p {
  background-color: #225615;
}

[data-id="elearning"] {
  color: #e95022;
}
[data-id="elearning"] p {
  background-color: #e95022;
}

[data-id="new-elearning"] {
  color: #d73a33;
}
[data-id="new-elearning"] p {
  background-color: #d73a33;
}

[data-id="elearning-skill"] {
  color: #46bda1;
}
[data-id="elearning-skill"] p {
  background-color: #46bda1;
}

[data-id="score"] {
  color: #cd351d;
}
[data-id="score"] p {
  background-color: #cd351d;
}

[data-id="student-cert"] {
  color: #319998;
}
[data-id="student-cert"] p {
  background-color: #319998;
}

[data-id="apply-online"] {
  color: #a0a2a1;
}
[data-id="apply-online"] p {
  background-color: #a0a2a1;
}

[data-id="train"] {
  color: #c2321b;
}
[data-id="train"] p {
  background-color: #c2321b;
}

[data-id="rule"] {
  color: #febd2a;
}
[data-id="rule"] p {
  background-color: #febd2a;
}

[data-id="sport-club"] {
  color: #0061a5;
}
[data-id="sport-club"] p {
  background-color: #0061a5;
}
