body {
  width: 400px;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  text-align: end;
}

header {
  display: grid;
  grid-template-columns: 170px 2fr 1fr;
  gap: 8px;
  place-items: center;
}
.form > div {
  position: relative;
  color: #333;
}
.form > div > i {
  position: absolute;
  top: 35%;
  left: 20px;
}

.custom-input {
  width: 160px;
  font-size: large;
  border: 2px solid #aaa;
  color: #333;
  border-radius: 4px;
  margin: 4px 0px 8px 8px;
  outline: none;
  padding: 4px 28px;
  box-sizing: border-box;
  transition: 0.3s;
}

.custom-input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 4px 0 dodgerBlue;
}

.fact {
  font-size: 14px;
  text-align: center;
}

#options {
  float: right;
  font-size: 48px;
  padding: 0 10px;
  background-color: white;
  border: 2px solid;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
}

#options:hover {
  filter: brightness(90%);
}

.back-btn {
  padding: 4px 8px;
}

#home {
  background-color: orange;
  border: 2px solid orange;
  color: white;
}

#home:hover {
  background-color: rgb(255, 140, 0);
  border-color: rgb(255, 140, 0);
}

#home:active {
  background-color: rgb(255, 180, 65);
  border-color: rgb(255, 180, 65);
  transform: translateY(1.5px);
}

p {
  margin: 4px 0 0 0;
}

::-webkit-scrollbar {
  width: 0;
}

.hidden {
  display: none !important;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.btn {
  margin: 8px 4px 0 4px;
  overflow: hidden;
  flex-grow: 1;
  border: 2px solid;
  box-shadow: 0 0 0 1px inset;
  border-radius: 4px;
  padding: 8px 0 0 0;
  cursor: pointer;
  background-color: white;
}
.btn:hover {
  filter: brightness(90%);
}
.btn > i {
  font-size: large;
}
.btn p {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 16px;
}

/* //////////////////// */
[data-id="notification"] {
  color: #00579a;
}
[data-id="notification"] p {
  background-color: #00579a;
}

[data-id="survey"] {
  color: #0668b1;
}
[data-id="survey"] p {
  background-color: #0668b1;
}

[data-id="info"] {
  color: #8a2110;
}
[data-id="info"] p {
  background-color: #8a2110;
}

/* Education and its children */
[data-id="education"] {
  color: #35aeab;
}
[data-id="education"] p {
  background-color: #35aeab;
}
.education-child {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #dbefff;
  opacity: 0;
  border-top: 1px solid white;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  transition: 0.2s ease 0.1s;
}

[data-id="education"]:hover + .education-child,
.education-child:hover {
  border-top: 8px solid white;
  opacity: 1;
  padding: 8px;
  max-height: 200px;
}
[data-id="registration"] {
  color: #967a60;
}
[data-id="registration"] p {
  background-color: #967a60;
}

[data-id="schedule"] {
  color: #823a82;
}
[data-id="schedule"] p {
  background-color: #823a82;
}

[data-id="exam"] {
  color: #3483cc;
}
[data-id="exam"] p {
  background-color: #3483cc;
}

[data-id="map"] {
  color: #118dd0;
}
[data-id="map"] p {
  background-color: #118dd0;
}
/* End - education and its children */

[data-id="tuition"] {
  color: #225615;
}
[data-id="tuition"] p {
  background-color: #225615;
}

[data-id="elearning"] {
  color: #e95022;
}
[data-id="elearning"] p {
  background-color: #e95022;
}

[data-id="new-elearning"] {
  color: #d73a33;
}
[data-id="new-elearning"] p {
  background-color: #d73a33;
}

[data-id="elearning-skill"] {
  color: #46bda1;
}
[data-id="elearning-skill"] p {
  background-color: #46bda1;
}

[data-id="score"] {
  color: #cd351d;
}
[data-id="score"] p {
  background-color: #cd351d;
}

[data-id="student-cert"] {
  color: #319998;
}
[data-id="student-cert"] p {
  background-color: #319998;
}

[data-id="apply-online"] {
  color: #a0a2a1;
}
[data-id="apply-online"] p {
  background-color: #a0a2a1;
}

[data-id="train"] {
  color: #c2321b;
}
[data-id="train"] p {
  background-color: #c2321b;
}

[data-id="rule"] {
  color: #febd2a;
}
[data-id="rule"] p {
  background-color: #febd2a;
}

[data-id="sport-club"] {
  color: #0061a5;
}
[data-id="sport-club"] p {
  background-color: #0061a5;
}
/* TOOLS */
[data-tab-id="popup-readnoti"] {
  color: #00579a;
}
[data-tab-id="popup-readnoti"] p {
  background-color: #00579a;
}
#stop-readnoti,
#start-readnoti {
  padding: 8px 16px;
  font-size: large;
  background-color: #0668b1;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#stop-readnoti:disabled,
#start-readnoti:disabled {
  opacity: 0.25;
}
#stop-readnoti:hover,
#start-readnoti:hover {
  filter: brightness(90%);
}

#stop-readnoti:active,
#start-readnoti:active {
  transform: translateY(-2px);
}

#stop-readnoti {
  background-color: rgb(221, 86, 86);
}

.readnoti-body {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* //////////////////////////// */

/* LAYOUT */

.btn-group.layout-auto {
  display: flex;
  flex-wrap: wrap;
}

.layout-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.layout-3col .education-child {
  grid-column: 1/4;
}

.layout-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.layout-2col .education-child {
  grid-column: 1/3;
}
