body {
  width: 400px;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 8px;
  place-items: center;
}

.form {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 80%;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 4px;
  outline: 0;
  font-size: 1.1rem;
  color: black;
  padding: 7px 10px;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.2rem;
  cursor: text;
  top: 24px;
}

.form__label {
  position: absolute;
  padding: 0px 3px;
  top: 5px;
  left: 10px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(150, 150, 150);
  background-color: white;
}

.form__field:focus {
  padding-bottom: 6px;
  border: 3px solid #17a2b8;
  border-radius: 4px;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #17a2b8;
  background-color: white;
}

.form__field:disabled {
  border-color: rgba(118, 118, 118, 0.2) !important;
}

.fact {
  font-size: 14px;
  text-align: center;
}

#options {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  float: right;
  font-size: 36px;
  padding: 0 10px;
  background-color: white;
  border: 2px solid;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
}

#options:hover {
  filter: brightness(90%);
}

.back-btn {
  padding: 4px 8px;
}

#home {
  background-color: orange;
  border: 2px solid orange;
  color: white;
}

#home:hover {
  background-color: rgb(255, 140, 0);
  border-color: rgb(255, 140, 0);
}

#home:active {
  background-color: rgb(255, 180, 65);
  border-color: rgb(255, 180, 65);
  transform: translateY(1.5px);
}

p {
  margin: 4px 0 0 0;
}

::-webkit-scrollbar {
  width: 0;
}

.hidden {
  display: none !important;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

/* TOOLS */
[data-tab-id="popup-readnoti"] {
  color: #00579a;
}
[data-tab-id="popup-readnoti"] p {
  background-color: #00579a;
}
#stop-readnoti,
#start-readnoti {
  padding: 8px 16px;
  font-size: large;
  background-color: #0668b1;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#stop-readnoti:disabled,
#start-readnoti:disabled {
  opacity: 0.25;
}
#stop-readnoti:hover,
#start-readnoti:hover {
  filter: brightness(90%);
}

#stop-readnoti:active,
#start-readnoti:active {
  transform: translateY(-2px);
}

#stop-readnoti {
  background-color: rgb(221, 86, 86);
}

.readnoti-body {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* //////////////////////////// */

/* LAYOUT */

.btn-group.layout-auto {
  display: flex;
  flex-wrap: wrap;
}

.layout-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.layout-3col .education-child {
  grid-column: 1/4;
}

.layout-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.layout-2col .education-child {
  grid-column: 1/3;
}
