html {
  background-color: #f8f9fa;
}

body {
  font-size: large;
  color: #555;
  background-color: white;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 6px -2px #555;
  border-radius: 20px;
}

.btn-group {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: space-evenly;
}

.btn {
  padding: 8px 0px 0px 0px;
}

.btn--disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: white;
}

.btn--disabled > p {
  background-color: white;
  color: #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 4px 16px;
}

.div-flex-end {
  display: flex;
  justify-content: flex-end;
}

#save {
  all: revert;
  width: 20%;
  display: flex;
  background-color: #33be54;
  border: 2px solid #33be54;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 2rem;
  justify-content: center;
  color: white;
}

#save:hover {
  filter: brightness(90%);
}

#save:active {
  transform: translateY(1.5px);
}
