html {
  background-color: #f8f9fa;
}

body {
  font-size: large;
  color: #555;
  background-color: white;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 6px -2px #555;
  border-radius: 20px;
}

.btn-group {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: space-evenly;
}

.btn {
  display: flex;
  border: 2px solid;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.main {
  background-color: rgb(25, 140, 255);
  border-color: rgb(25, 140, 255);
  color: white;
}

.ghost {
  background-color: white;
  border: 2px solid rgb(25, 140, 255);
  color: rgb(25, 140, 255);
}

.btn:active {
  background-color: rgb(120, 185, 250);
  border-color: rgb(120, 185, 250);
  transform: translateY(1.5px);
}

.btn--not-active {
  background-color: #ccc;
  border-color: #ccc;
  color: white;
}

.btn > i {
  margin-right: 30px;
  font-size: large;
}

.div-center-items {
  display: flex;
  justify-content: flex-end;
}

#save {
  width: 20%;
  margin-top: 2rem;
  justify-content: center;
  background-color: #33be54;
  border-color: #33be54;
  color: white;
}
