.container {
  background-color: var(--surface);
  width: 90%;
  max-width: 850px;
  margin: 60px auto;
  padding: 20px 32px;
  border-radius: 12px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  position: relative;
}

.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px 32px 0px;
  color: var(--title);
}

.theme-toggle {
  width: 80px;
  background-color: #555;
  margin: 12px 0px;
  position: absolute;
  top: 20px;
  right: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 40px;
  padding: 6px;
}
[data-theme="dark"] .theme-toggle {
  background-color: #ccc;
}

.theme-toggle__circle {
  width: 24px;
  height: 24px;
  background-color: var(--primary);
  border-radius: 100%;
  transition: 0.5s;
  filter: brightness(1.2);
}
[data-theme="dark"] .theme-toggle__circle {
  transform: translateX(44px);
  transition: 0.5s;
  filter: brightness(0.9);
}

.theme-toggle__input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.theme-toggle__light-icon {
  display: none;
}
[data-theme="dark"] .theme-toggle__light-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}

.theme-toggle__dark-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
}
[data-theme="dark"] .theme-toggle__dark-icon {
  display: none;
}

.layout {
  margin-bottom: 24px;
}

.layout__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.layout__radios {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  gap: 4px;
}

.layout__radios input[type="radio"] {
  margin: 5px 5px 0px 0px;
}

.ui {
  margin-bottom: 24px;
}

.ui__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.ui__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quick-access {
  margin-bottom: 24px;
}

.quick-access__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.btn-group {
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: space-evenly;
}

.btn--disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: white;
}

.btn--disabled > .btn__text {
  background-color: white;
  color: #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 4px 16px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

[data-id="save"] {
  width: 50%;
  flex-grow: 0;
  background-color: #33be54;
  border: 2px solid #33be54;
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-size: 1.05rem;
}

[data-id="save"]:hover {
  filter: brightness(90%);
}
